<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners></listeners>
	<test thread-count="5" name="Test" parallel="classes">
		<classes>
			<class name="example.example.tests.GoogleSearchTest" />
			<class name="example.example.tests.FaceBookLoginTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
